{% extends 'base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript">

    /* copy game links to clipboard */
    function myFunction(inputId) {
        
        /* Get the text field */
        var copyText = document.getElementById(inputId);

        /* Unhide it so we can copy */
        copyText.type ='text'

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Hide it again */
        copyText.type ='hidden'

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
        }
</script>

<div class="table-responsive">
    <table class="table table-striped table-hover" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Game
                </th>
                <th>
                    Players
                </th>
                <th>
                    Link
                </th>
                <th>

                </th>
            </tr>
            {% for game in games %}
            <tr>
                <td>
                    {{ game.date }}
                </td>
                <td>
                    <a href="{% url 'game' game.slug %}">{{ game.slug }}</a>
                </td>
                <td>
                    {% for player in player_list %}
                        {% if player.game_id == game.id %}
                            {{ player.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <input type="hidden" value="https://www.scorestuff.nz{{game.get_absolute_url}}" id="{{game.slug}}">
                    <a href="" id="{{game.slug}}" onclick="myFunction(this.id)">Copy link</a>
                </td>
                <td>
                    <a href="{% url 'delete_game' game.id %}"?>Delete</a>
                </td>
            </tr>
           
            {% endfor %}
        </thead>
    </table>
</div>



{% endblock content %}