{% extends 'base.html' %}
{% load static %}

{% block title %}Privacy{% endblock title %}

{% block content %}
<h2>Privacy</h2>
<p>Should probably write something here :)</p>
{% endblock content %}