{% extends 'base.html' %}
{% load static %}

{% block title %}Log in{% endblock title %}


{% block content %}

<div class="center">
    <h3>Log in</h3>
    <br />
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>
{% endblock content %}